<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form action="/sign_in" method="POST">
    <label for="email">Correo / Usuario:</label>
    <input type="text" id="email" name="login" required>
    <br>

    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="passwd" required> <!-- Campo de contraseña, requerido -->
    <br>


    <button type="submit">Aceptar</button>

</form>

     <a href="/register">
    <button>Regístrate</button>
    </a>
</body>
</html>